
.col1{
    
    background-color: blue;
}

.col2{
    background-color: red;
}

.col3{
    background-color: yellow;
}
.col4{
    background-color: brown;
}
.col5{
    background-color: green;
}
.col6{
    background-color: darkcyan;
}