*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows:  20% 70% 10%;
    grid-template-areas:'encabezado encabezado'
    'menuu contenido'
    'piepagina piepagina';
    justify-content: center;
    align-content: center;
   


}

.caja{
    background-color: aqua;
    text-align: center;
    border: 1px solid red;
}

#encabezado{
    grid-area: encabezado;
}

#menuu{
    grid-area: menuu;
}

#contenido{
    grid-area: contenido;
}

#piepagina{
    grid-area: piepagina;
}