body   
{
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 

}
.tabla
 {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black; 
  }
  
  td 
  {
    padding: 20px;
    color: black;
    border: 1px solid black;
  }
  th 
  {
    color: black;
    background-color: dimgray;
  }
  tr
  {
    color: black;
    background-color: antiquewhite;
  }
  .Zebra1
  {
    background-color: darkkhaki;
  }
  .Zebra2
  {
    background-color: darkgrey;
  }
  
  
  